<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Hello World!!</h1>
    <p>Welcome to <%= title %></p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Last name</th>
          <th>E-mail</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach(student => { %>
        <tr>
          <td><%= student.firstName %></td>
          <td><%= student.lastName %></td>
          <td><%= student.email %></td>
          <td><%= student.phone %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
